PORT=8080
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SSM_PARAMETER_NAME=/bowerbird/local/secrets
ENABLE_LOCAL_EVENT_LOOP=true
ALLOWED_ORIGINS=https://app.bowerbird.dev
