export PORT=8080
export AWS_REGION=us-east-1
export AWS_ENDPOINT_URL=http://localhost:4566
export AWS_ACCESS_KEY_ID=test
export AWS_SECRET_ACCESS_KEY=test
export S3_PRESIGN_ENDPOINT_URL=https://media.bowerbird.dev
export SSM_PARAMETER_NAME=/bowerbird/local/secrets
export ENABLE_LOCAL_EVENT_LOOP=true
export ALLOWED_ORIGINS=http://app.bowerbird.dev,http://localhost:4200
export FRONTEND_URL=http://app.bowerbird.dev
export PLATFORM_OPERATOR_EMAILS=
