PORT=8080
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
S3_PRESIGN_ENDPOINT_URL=https://media.bowerbird.dev
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SSM_PARAMETER_NAME=/bowerbird/local/secrets
ENABLE_LOCAL_EVENT_LOOP=true
ALLOWED_ORIGINS=http://app.bowerbird.dev,http://localhost:4200
FRONTEND_URL=http://app.bowerbird.dev
BACKEND_URL=http://api.bowerbird.dev
