<div class="flex items-center gap-4 px-5 py-6">
  <a routerLink="/dashboard" class="text-gray-500 hover:text-gray-900 cursor-pointer">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 5H1m0 0 4 4M1 5l4-4"
      />
    </svg>
  </a>
  <h1 class="text-xl font-bold">Crear categoría</h1>
</div>
