<div class="flex px-3 py-4 items-center">
  <button
    id="selectedWalletDropdownButton"
    type="button"
    data-dropdown-toggle="active-wallet-dropdown"
    data-dropdown-placement="bottom-start"
    class="cursor-pointer hover:bg-slate-50 border border-gray-300 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded text-sm px-4 py-2.5 text-center inline-flex items-center"
  >
    {{ (selectedWallet$ | async)?.name }}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <div class="grow"></div>

  <div *ngIf="user$ | async">
    <img
      [src]="(user$ | async)?.pictureUrl"
      [alt]="(user$ | async)?.name + ' picture'"
      class="object-cover rounded-full h-9 w-9"
    />
  </div>
</div>

<div id="active-wallet-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
  <ul class="py-2 text-sm text-gray-700" aria-labelledby="selectedWalletDropdownButton">
    <li>
      <a
        [href]="apiUrl + '/v1/auth/google-mail/login?wallet_id=' + selectedWalletID"
        class="block px-4 py-2 hover:bg-gray-100"
        >Sync with Gmail</a
      >
    </li>
    <li>
      <a
        [href]="apiUrl + '/v1/auth/microsoft/login?wallet_id=' + selectedWalletID"
        class="block px-4 py-2 hover:bg-gray-100"
        >Sync with Outlook</a
      >
    </li>
    <li>
      <button (click)="syncWalletTransactionsWithEmails()" class="block px-4 py-2 hover:bg-gray-100" type="button">
        Sync now
      </button>
    </li>
  </ul>
</div>

<div class="px-3">
  <h2 class="font-semibold">Últimas transacciones</h2>

  <div
    *ngIf="!(transactions$ | async) || (transactions$ | async)?.length === 0"
    class="text-center mt-8 p-4 rounded-lg w-auto mx-auto text-gray-400 font-light"
  >
    No hay transacciones para mostrar.
  </div>

  <div *ngIf="transactions$ | async" class="flex flex-col gap-4 my-5">
    <div *ngFor="let t of (transactions$ | async)" class="shadow-xs rounded-lg py-3 px-3 bg-white">
      <div class="flex flex-row justify-between items-center gap-3">
        <a
          [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
          [ngStyle]="{'background-color': t.categoryColor || '#9e9e9e'}"
          class="flex items-center gap-2 rounded-full p-3"
        >
          <span class="material-symbols-outlined text-white" [ngStyle]="{'font-size': '2rem'}">
            {{ t.categoryIcon || 'help' }}
          </span>
        </a>

        <div class="text-left mt-2 flex-grow">
          <a [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]" class="block font-medium">
            {{ t.categoryName || 'Sin categoría' }}
          </a>

          <a
            [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
            class="text-xs font-light line-clamp-2 lowercase text-slate-400"
          >
            {{ t.systemDescription }}
          </a>

          <div class="mt-2 text-nowrap text-xs text-gray-400 font-extralight">
            {{ t.processedAt | date: 'mediumDate' }}
          </div>
        </div>

        <a
          [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
          [ngClass]="{'text-rose-400': t.type === 'expense', 'text-emerald-400': t.type !== 'expense'}"
          class="text-right font-semibold"
        >
          <span class="text-nowrap">{{ t.type === 'expense' ? '-' : '+' }} ${{ t.amount | number }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
