<div class="flex px-3 py-4 items-center">
  <button
    id="selectedWalletDropdownButton"
    type="button"
    data-dropdown-toggle="active-wallet-dropdown"
    data-dropdown-placement="bottom-start"
    class="cursor-pointer hover:bg-slate-50 border border-gray-300 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded text-sm px-4 py-2.5 text-center inline-flex items-center"
  >
    {{ (selectedWallet$ | async)?.name }}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <div class="grow"></div>

  <div *ngIf="user$ | async">
    <img
      [src]="(user$ | async)?.pictureUrl"
      [alt]="(user$ | async)?.name + ' picture'"
      class="object-cover rounded-full h-9 w-9"
    />
  </div>
</div>

<div
  id="active-wallet-dropdown"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700"
>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectedWalletDropdownButton">
    <li>
      <a
        [href]="apiUrl + '/v1/auth/google-mail/login?wallet_id=' + (selectedWallet$ | async)?.ID"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Sync with Gmail</a
      >
    </li>
    <li>
      <a
        [href]="apiUrl + '/v1/auth/microsoft/login?wallet_id=' + (selectedWallet$ | async)?.ID"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Sync with Outlook</a
      >
    </li>
    <li>
      <button
        (click)="syncWalletTransactionsWithEmails()"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        type="button"
      >
        Sync now
      </button>
    </li>
  </ul>
</div>

<div class="px-3">
  <h2 class="font-semibold">Últimas transacciones</h2>

  <div class="flex flex-col gap-3 my-5">
    <div *ngFor="let t of transactions$ | async" class="shadow rounded-lg py-3 px-3 text-sm bg-white">
      <div class="flex flex-row justify-between items-center gap-2">
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined" [ngStyle]="{'font-size': '3rem', 'color': t.categoryColor}">
            {{ t.categoryIcon || 'help' }}
          </span>
        </div>

        <div class="text-left mt-2 flex-grow">
          <a
            [routerLink]="['/wallets', (selectedWallet$ | async)?.ID, 'transactions', t.ID]"
            class="block font-semibold"
          >
            {{ t.categoryName || 'Sin categoría' }}
          </a>

          <a [routerLink]="['/wallets', (selectedWallet$ | async)?.ID, 'transactions', t.ID]" class="text-xs font-light">
            {{ t.systemDescription }}
          </a>

          <div class="mt-2 text-nowrap text-xs text-gray-400 font-extralight">
            {{ t.processedAt | date: 'mediumDate' }}
          </div>
        </div>

        <div
          [ngClass]="{'text-rose-500': t.type === 'expense', 'text-emerald-500': t.type !== 'expense'}"
          class="text-right font-semibold"
        >
          <span class="text-nowrap">{{ t.type === 'expense' ? '-' : '+' }} ${{ t.amount | number }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
