<div class="flex px-3 pt-4 items-center">
  <button
    id="selectedWalletDropdownButton"
    type="button"
    data-dropdown-toggle="active-wallet-dropdown"
    data-dropdown-placement="bottom-start"
    class="cursor-pointer hover:bg-slate-50 border border-slate-200 focus:ring-4 focus:outline-none focus:ring-purple-400 font-medium rounded text-sm px-4 py-2.5 text-center inline-flex items-center text-slate-600"
  >
    {{ (selectedWallet$ | async)?.name }}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <div class="grow"></div>

  <div *ngIf="user$ | async">
    <img
      [src]="(user$ | async)?.pictureUrl"
      [alt]="(user$ | async)?.name + ' picture'"
      class="object-cover rounded-full h-9 w-9"
    />
  </div>
</div>

<div id="active-wallet-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-56">
  <ul class="py-2 text-sm text-slate-600" aria-labelledby="selectedWalletDropdownButton">
    <li>
      <a
        [href]="apiUrl + '/v1/auth/google-mail/login?wallet_id=' + selectedWalletID"
        class="block px-4 py-3 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-purple-400"
        >Sincronizar con Gmail</a
      >
    </li>
    <li>
      <a
        [href]="apiUrl + '/v1/auth/microsoft/login?wallet_id=' + selectedWalletID"
        class="block px-4 py-3 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-purple-400"
        >Sincronizar con Outlook</a
      >
    </li>
    <li *ngIf="(selectedWallet$ | async)?.syncFromEmails?.length">
      <a
        routerLink="/file-passwords"
        class="block px-4 py-3 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-purple-400"
        >Contraseñas de extractos</a
      >
    </li>
  </ul>
</div>

<div class="mx-3 mt-6 px-4 py-3 border border-slate-200 rounded-lg">
  <div class="flex flex-row gap-3">
    <div class="w-1/2 text-center">
      <div class="font-light text-slate-400">Ingresos</div>
      <div class="font-medium text-emerald-500">${{ (metrics$ | async )?.totalIncome | number }}</div>
    </div>
    <div class="w-1/2 text-center">
      <div class="font-light text-slate-400">Gastos</div>
      <div class="font-medium text-rose-500">${{ (metrics$ | async )?.totalExpense | number }}</div>
    </div>
  </div>

  <div class="px-3 mt-2 text-center text-slate-400 font-light text-sm">
    <div>{{ currentDate | date: 'MMMM yyyy' }}</div>
  </div>
</div>

<div class="flex items-center justify-center mt-2 mb-0" [ngClass]="{'opacity-0': !(isLoading$ | async)}">
  <div
    class="px-5 py-1 text-xs font-medium leading-none text-center text-purple-800 bg-purple-200 rounded-full animate-pulse"
  >
    Cargando...
  </div>
</div>

<div class="px-3">
  <div class="flex items-center align-middle gap-3">
    <h2 class="block font-semibold">Últimas transacciones</h2>
    <div class="grow"></div>
    <button
      *ngIf="(selectedWallet$ | async)?.syncFromEmails?.length"
      (click)="syncWalletTransactionsWithEmails()"
      class="hover:bg-gray-100 px-2 py-1 flex items-center justify-center rounded-lg border border-slate-200 focus:outline-none focus:ring-4 focus:ring-purple-400 cursor-pointer"
      type="button"
    >
      <span class="material-symbols-outlined text-slate-600" style="font-size: 1.3rem"> sync </span>
    </button>
  </div>

  <div
    *ngIf="!(transactions$ | async) || (transactions$ | async)?.length === 0"
    class="text-center mt-8 p-4 rounded-lg w-auto mx-auto text-gray-400 font-light"
  >
    No hay transacciones para mostrar.
  </div>

  <div *ngIf="transactions$ | async" class="flex flex-col gap-4 my-5">
    <div *ngFor="let t of (transactions$ | async)" class="shadow-xs rounded-lg py-3 px-3 bg-white">
      <div class="flex flex-row justify-between items-center gap-3">
        <a
          [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
          class="flex items-center gap-2 rounded-full p-3"
          [ngClass]="t.categoryColor || 'bg-slate-200'"
        >
          <span class="material-symbols-outlined text-white" [ngStyle]="{'font-size': '2rem'}">
            {{ t.categoryIcon || 'help' }}
          </span>
        </a>

        <div class="text-left mt-2 flex-grow">
          <a [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]" class="block font-medium">
            {{ t.categoryName || 'Sin categoría' }}
          </a>

          <a
            [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
            class="text-xs font-light line-clamp-2 lowercase text-slate-400"
          >
            {{ t.systemDescription }}
          </a>

          <div class="mt-2 text-nowrap text-xs text-gray-400 font-extralight">
            {{ t.processedAt | date: 'EEEE, d MMMM' }}
          </div>
        </div>

        <a
          [routerLink]="['/wallets', selectedWalletID, 'transactions', t.ID]"
          [ngClass]="{'text-rose-400': t.type === 'expense', 'text-emerald-400': t.type !== 'expense'}"
          class="text-right font-semibold"
        >
          <span class="text-nowrap">{{ t.type === 'expense' ? '-' : '+' }} ${{ t.amount | number }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
