<div class="flex items-center gap-4 px-5 py-6">
  <a routerLink="/dashboard" class="text-gray-500 hover:text-gray-900 cursor-pointer">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 5H1m0 0 4 4M1 5l4-4"
      />
    </svg>
  </a>
  <h1 class="text-xl font-bold">Contraseñas de extractos</h1>
</div>

<form [formGroup]="form" class="px-5" (ngSubmit)="onSubmit()">
  <p class="text-gray-500 text-justify">
    Ingresa las contraseñas de tus extractos bancarios (una por línea), serán usadas para sincronizar la información
    enviada a tu(s) correo(s) electrónico(s). Por seguridad, estas contraseñas no se visualizarán, así que deberás
    ingresarlas nuevamente cuando vuelvas a esta página. Estas contraseñas serán usadas en todas tus billeteras.
  </p>

  <textarea
    formControlName="passwords"
    class="w-full border border-gray-300 rounded-md p-2 my-5 outline-none focus:ring-4 focus:ring-purple-400"
    placeholder="NIT y/o cédula"
    rows="4"
  ></textarea>

  <div class="text-right">
    <button class="text-white bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded-md" type="submit">
      Guardar contraseñas
    </button>
  </div>
</form>
