<div
  class="flex flex-col items-center justify-center min-h-screen bg-neutral-50 text-gray-700"
>
  <h1
    class="text-4xl md:text-5xl text-center md:text-left bg-clip-text text-transparent bg-gradient-to-r from-red-400 via-purple-500 to-red-600 animate-gradient"
  >
    <strong class="text-5xl">Bowerbird</strong><br>Finance Assistant
  </h1>

  <p class="mt-10 text-lg md:text-2xl text-center md:text-left text-blue-600">
    Take control of your finances with ease and confidence.
  </p>

  <div class="mt-10 space-y-4">
    <p class="text-center font-medium mb-5">Get started with:</p>
    <a
      [href]="apiBaseURl + '/v1/auth/google/login'"
      class="mx-2 py-3 px-6 text-center text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700 transition duration-300"
    >
      Google
    </a>
    <a
      [href]="apiBaseURl + '/v1/auth/microsoft/login'"
      class="mx-2 py-3 px-6 text-center text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
    >
      Microsoft
    </a>
  </div>
</div>
