<div class="flex items-center gap-4 px-5 py-6">
  <a routerLink="/dashboard" class="text-gray-500 hover:text-gray-900 cursor-pointer">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 5H1m0 0 4 4M1 5l4-4"
      />
    </svg>
  </a>
  <h1 class="text-xl font-bold">Detalle de transacción</h1>
</div>

<div class="px-5 mt-12" *ngIf="transaction$ | async as transaction">
  <div class="bg-white rounded-lg shadow py-4 px-4 text-center">
    <button
      #categoryDropdownButton
      id="categoryDropdownButton"
      type="button"
      data-dropdown-toggle="category-dropdown"
      class="cursor-pointer focus:ring-4 focus:ring-pink-300 font-medium text-sm -mt-16 m-auto flex flex-col items-center gap-2"
    >
      <div
        [ngClass]="transaction.categoryColor || 'bg-slate-200'"
        class="rounded-full text-white p-5 shadow-md flex items-center justify-center"
      >
        <span class="material-symbols-outlined" [ngStyle]="{'font-size': '3.5rem'}">
          {{ transaction.categoryIcon || 'help' }}
        </span>
      </div>
      <div class="text-cm font-light">{{ transaction.categoryName || 'Sin categoría' }}</div>
    </button>

    <div
      [ngClass]="{'text-rose-400': transaction.type === 'expense', 'text-emerald-400': transaction.type !== 'expense'}"
      class="text-4xl font-bold my-6"
    >
      {{ transaction.amount | number }}
    </div>

    <p>{{ transaction.systemDescription }}</p>
    <p class="text-sm text-gray-400">{{ transaction.processedAt | date: 'EEEE, d MMMM, yyyy' }}</p>

    <div class="mt-7 flex items-center gap-2 text-sm text-gray-400">
      <div class="text-left w-1/2">
        <ng-container [ngSwitch]="transaction.origin">
          <span *ngSwitchCase="'nu/savings'" class="bg-purple-500 text-white px-2 py-1 rounded-md">Nu Bank</span>
          <span *ngSwitchDefault class="bg-green-500 text-white px-2 py-1 rounded-md">Cash</span>
        </ng-container>
      </div>
      <div class="text-right w-1/2">{{ transaction.userName }}</div>
    </div>
  </div>

  <div
    #categoryDropdown
    id="category-dropdown"
    class="z-10 hidden bg-white divide-y divide-gray-200 rounded-lg shadow-sm w-auto text-left"
  >
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="categoryDropdownButton">
      <li *ngFor="let category of categories$ | async">
        <button
          type="button"
          (click)="updateCategory(transaction, category.ID)"
          class="cursor-pointer px-4 py-2 hover:bg-gray-100 flex items-center w-full"
        >
          <span class="material-symbols-outlined"> {{ category.icon }} </span>
          <div class="ml-2">{{ category.name }}</div>
        </button>
      </li>
    </ul>

    <div class="py-2">
      <a
        [routerLink]="['/wallets', walletID, 'categories', 'create']"
        class="text-sm px-4 py-2 hover:bg-gray-100 flex items-center"
      >
        <span class="material-symbols-outlined"> add </span>
        <span class="ml-2"> Crear categoría </span>
      </a>
    </div>
  </div>
</div>
