<div class="flex items-center gap-4 px-5 py-6">
  <a routerLink="/dashboard" class="text-gray-500 hover:text-gray-900 cursor-pointer">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 5H1m0 0 4 4M1 5l4-4"
      />
    </svg>
  </a>
  <h1 class="text-xl font-bold">Detalle de transacción</h1>
</div>

<div class="px-5" *ngIf="transaction$ | async as transaction">
  <div class="bg-white rounded-lg shadow py-3 px-4 text-center">
    <div
      [ngClass]="{'text-rose-500': transaction.type === 'expense', 'text-emerald-500': transaction.type !== 'expense'}"
      class="text-3xl font-bold"
    >
      {{ transaction.amount | number }}
    </div>

    <p class="text-sm text-gray-500">{{ transaction.processedAt | date:'mediumDate' }}</p>

    <p class="mt-4">{{ transaction.systemDescription }}</p>

    <button
      id="selectedWalletDropdownButton"
      type="button"
      data-dropdown-toggle="active-wallet-dropdown"
      class="cursor-pointer hover:bg-slate-50 border border-gray-300 focus:ring-4 focus:ring-pink-300 font-medium rounded text-sm px-4 py-2.5 mt-5 text-center inline-flex items-center"
    >
      Sin categoría
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
      </svg>
    </button>

    <div
      id="active-wallet-dropdown"
      class="z-10 hidden bg-white divide-y divide-gray-200 rounded-lg shadow-sm w-44 dark:bg-gray-700 text-left"
    >
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectedWalletDropdownButton">
        <li *ngFor="let category of categories$ | async">
          <a
            [style.color]="category.color"
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            {{ category.name }}
          </a>
        </li>
      </ul>

      <div class="py-2">
        <a
          [routerLink]="['/wallets', walletID, 'categories', 'create']"
          class="block text-sm px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Crear categoría
        </a>
      </div>
    </div>

    <div class="mt-7 flex items-center gap-2 text-sm text-gray-400">
      <div class="text-left w-1/2">
        <ng-container [ngSwitch]="transaction.origin">
          <span *ngSwitchCase="'nu-bank-email'" class="bg-purple-500 text-white px-2 py-1 rounded-md">Nu Bank</span>
          <span *ngSwitchDefault class="bg-green-500 text-white px-2 py-1 rounded-md">Cash</span>
        </ng-container>
      </div>
      <div class="text-right w-1/2">{{ transaction.userName }}</div>
    </div>
  </div>
</div>
